*{
    padding: 0;
    margin: 0;
  }
  
  nav {
    text-align: center;
    background-color: whitesmoke;
    padding: 15px;
    border: 1px solid #222;
  }
  nav a button{
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  nav a button:hover{
    background-color: #d4d1d1;
  }
  nav button{
    margin: 10px;
  }