*{
  padding: 0;
  margin: 0;
}

nav {
  text-align: center;
  background-color: whitesmoke;
  padding: 15px;
  border: 1px solid #222;
}
nav button{
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #161616;
}
nav button{
  margin: 10px;
}
body{
  background-color: #161616;
}

#wrapper>h1{
  text-align: center;
  font-size: 45px;
  padding-bottom: 10px;
}
#wrapper>p{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 20px;
  background-color: #222;
}

.form{
  width: 300px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #212121;
}

  .lastResult {
    color: white;
    padding: 7px;
    
  }
  
  .guesses {
    color: white;
    padding: 7px;
  }
  
  button {
    background-color: #141414;
    color: #fff;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    border-style: none;
    margin-top: 30px;
    /* margin-left: 50px; */
  }
  
  #subt {
    background-color: #161616;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border-style: none;
    margin-top: 50px;
    /* margin-left: 75px; */
    margin-bottom: 40px;
  }
  
  #guessField {
    color: #000;
    width: 250px;
    height: 50px;
    font-size: 30px;
    border-style: none;
    margin-top: 25px;
  
    /* margin-left: 50px; */
    border: 5px solid #6c6d6d;
    text-align: center;
  }
  
  #guess {
    font-size: 55px;
    margin-left: 55px;
    margin-top: 120px;
    color: #fff;
  }
  
  .guesses {
    background-color: #7a7a7a;
  }

  
  h1 {
    background-color: #161616;
    color: #fff;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    text-align: center;
  }
  

  .resultParas p{
      font-size: 20px;
      text-align: center;
      margin-top: 10px;
  }