*{
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
    background-color: whitesmoke;
    padding: 15px;
    border: 1px solid #222;
}
nav a button{
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
nav a button:hover{
    background-color: #d4d1d1;
}
nav button{
    margin: 10px;
}
main h1{
    color: #222;
    text-align: center;
    padding-top: 20px;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.projects .project-link{
    padding-top: 10px;
}
.projects a button{
    width: 350px;
    height: 40px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}
.projects a button:hover{
    background-color: #d4d1d1;
}

/* project1 */
.canvas h1{
    text-align: center;
    padding: 5%;
}
.canvas h2{
    text-align: center;
}

  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  